version: '3.8'

services:
    database:
        image: postgres:13
        restart: always
        container_name: database
        env_file:
            - 'test.env'
    app:
        image: node:14-alpine
        working_dir: /usr/src/app
        env_file:
            - test.env
        volumes:
            - './:/usr/src/app:cached'
volumes:
    pgdata:
